:root{
    --secondaryColor: #e4e4e4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    min-height: 100vh;

    font-size: 2rem;
    font-family: system-ui;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 24px;

    box-shadow: 1px 1px 6px grey;
}
header h2{
    font-size: 3rem;
    font-weight: 400;
}
header nav{
    height: 45px;
    width: fit-content;
}
header nav, header nav form, header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav form{
    background-color: var(--secondaryColor);
    border-radius: 10px;
}
header nav form input[type="text"]{
    padding: 6px;
    font-size: 1.8rem;
    border: 1px solid var(--secondaryColor);
    border-radius: 10px;
    outline: none;
}
header nav ul a{
    color: black;
}
.fa{
    padding: 0 8px;
}
.fa input{
    display: none;
}

footer{
    width: 90%;
    padding: 30px;

    text-align: center;
    border-top: 1px solid var(--secondaryColor);
}

.main-index{
    display: flex;
    flex-direction: column;
    width: 900px;
}
.index_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding: 10px;
    box-shadow: 1px 1px 20px var(--secondaryColor);
}
.index_card-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 240px;
    margin-bottom: 12px;
}
.card-content_img-container{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 240px;

    overflow-x: hidden;
}
.card-content_img-container img{
    height: 100%;
}
.card-content_text{
    position: relative;
    width: 500px;
    height: 100%;
}
.index_card-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-top: 1px solid var(--secondaryColor);
}
.text-info{
    position: absolute;
    bottom: 0;
}
.status_ul{
    display: flex;
    list-style: none;
}
.status_ul li{
    display: flex;
    align-items: center;
    padding: 6px;
}
.status_ul li > *{
    margin: 0 3px;
}

a{
    text-decoration: none;
    color: initial;
}

.post-main{
    width: 900px;
    margin: 50px 0;
}
.post-header{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.post-header > *{
    padding: 3px 0;
}

.post-body > p{
    margin: 12px 0;
}
.body_img-container{
    width: 350px;
    height: 200px;
    margin: 0 auto;
    background-color: rgb(185, 185, 185);
}

.admin-main{
    display: grid;
    place-items: center;
    width: 90%;
    max-width: 900px;
    min-height: 500px;
    margin: 30px 0;
}
.admin-main form{
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 12px;

    border-radius: 15px;
    border: 1px solid #e4e4e4;
}
.admin-main form > *{
    margin: 5px 0;
}
.admin-main form > input{
    padding: 9px;
    font-size: 1.9rem;
}
.admin-main_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.err{
    font-size: 1.7rem;
    color: red;
}